
{% extends 'base.html'%}
{% block content%}
<style>
    .container{
        font-family: 'Akaya Telivigala', cursive;
        font-size: 22px;
        background-color:rgb(187, 240, 222);
    }
</style>
<div class="container mid">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet" style="font-family: 'Yanone Kaffeesatz', sans-serif;">
    <div class="row mt-5">
        <div class="col-md-7"><br>
            <img src="https://wallpaperaccess.com/full/4204887.jpg"
            class="img-fluid" alt="illustration" style="border-radius:30%;" ><br>
        </div><br>
        <div class="col-md-4">
            <h3 class="about"><i class=""></i></h3>
            <br><br>
            <p> 
                Umurinzi health  located in Kigali - Rwanda. We connect customers  to the nearest pharmacy where they get medication in addition to general healthcare advice. umurinzi is a partner  of differnt pharmacy in kigaki, and we plan on partnering with all the major medical sectors in the near future
                 </p>
            <p>Umurinzi Health.</p><br><br>
        </div>
    </div>
    <p></p>
    <h1></h1>
</div>
{%endblock%}