
{% extends 'base.html'%}
{% block content%}

<!--div id="jumbo" class="jumbotron text-center landing-jumbotron z-depth-0"-->
    <!--h2 class="jumbotron-header has-text-centered" style="font-weight:bold;font:'Righteous', cursive;"--></h2>
</div>
<div class="container mid">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet" style="font-family: 'Yanone Kaffeesatz', sans-serif;">
    <div class="row">
        <div class="col-md-7">
            <img src="https://wallpaperaccess.com/full/4204887.jpg"
            class="img-fluid" alt="illustration" style="border-radius:30%;" >
        </div>
        <div class="col-md-4">
            <h3 class="about"><i class=""></i></h3>
            <br><br>
            <p> 
                Umurinzi health  located in Kigali - Rwanda. We connect customers  to the nearest pharmacy where they get medication in addition to general healthcare advice. umurinzi is a partner  of differnt pharmacy in kigaki, and we plan on partnering with all the major medical sectors in the near future
                 </p>
            <p>Umurinzi Health.</p>
        </div>
    </div>
    <p></p>
    <h1></h1>
</div>
{%endblock%}