{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}
<style>
    .label{
        background-image:linear-gradient(0deg, rgba(29, 27, 27, 0.58), rgba(37, 34, 34, 0.508)),url(https://images.unsplash.com/photo-1567427362138-e33c5022aafa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
        background-repeat: no-repeat;
        background-size: cover;

        color:white;

    }
    footer{
        position:relative;
    }
  
</style>
<div class='label'><br><br>
    <div class='container'>
    <div class=" container row">
        <div class='col-md-2'></div>
        <div class="col-md-3" >
            <div style="text-align:center">
                <img src="{{drug.pic.url}}"  width="200px"  height="200px ">
            </div>
        </div><br>
        <div class="col-md-6 col-lg-6">
            <div class="card-1" ><br>
                <div class="card-text" style="padding: 20px;">
                    <h5><strong>Name:</strong> {{drug.name}}</h5>
                    <h5><strong>Description:</strong> {{drug.description}}</h5>
                </div>

            </div>

        </div>
    </div><br><br>
    <table class='table' style='color:black;background-color:white;'>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Insurance Partners</th>
                <th>Contact</th>
                <th>Directions</th>
            </tr>
            {% for pharmacy in nearest %}
            <tr >
                <td><a href="/pharmacy/{{pharmacy.id}}" style='text-decoration: none; color:rgb(0, 0, 0)'>{{pharmacy.name}}</a></th>
                <td>{{pharmacy.location}}</td>
                <td>{{pharmacy.insurance}}</td>
                <td>{{pharmacy.contact}}</td>
                <td><a href='{{pharmacy.direction}}' target='_blank'>View on Google Map</a></td>
            </tr>
            {% endfor%}
            {% for pharmacy in others %}
            <tr >
                <td><a href="/pharmacy/{{pharmacy.id}}" style='text-decoration: none; color:black'>{{pharmacy.name}}</a></th>
                <td>{{pharmacy.location}}</td>
                <td>{{pharmacy.insurance}}</td>
                <td>{{pharmacy.contact}}</td>
                <td><a href='{{pharmacy.direction}}' target='_blank'>View on Google Map</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table><br><br>
</div>
</div>

{% endblock %}