{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}
<div class='container'>
    <div class="row">
        <div class='col-md-2'></div>
        <div class="col-lg-3" >
            <div style="text-align:center">
                <img src="{{drug.pic.url}}"  width="200px"  height="200px ">
            </div>
        </div><br>
        <div class="col-md-6 col-lg-6">
            <div class="card-1" ><br>
                <div class="card-text" style="padding: 20px;">
                    <h5><strong>Name:</strong> {{drug.name}}</h5>
                    <h5><strong>Description:</strong> {{drug.description}}</h5>
                </div>

            </div>

        </div>
    </div><br>
    <table class='table'>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Insurance Partners</th>
                <th>Contact</th>
                <th>Directions</th>
            </tr>
            {% for pharmacy in pharmacies %}
            <tr>
                <td><a href="/pharmacy/{{pharmacy.id}}" style='text-decoration: none; color:black'>{{pharmacy.name}}</a></th>
                <td>{{pharmacy.residence}}</td>
                <td>{{pharmacy.insurance}}</td>
                <td>{{pharmacy.contact}}</td>
                <td><a href='{{pharmacy.location}}' target='_blank'>View on Google Map</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table><br><br>
</div>


{% endblock %}