{% load bootstrap4 %}
{% load static%}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    
</body>

<footer id="contacts">
    <p>Reach out to me directly on : +250780134566</p>
    <div id="socialapps">
        <a href="https://www.instagram.com/" target="_blank"><img src="pictures/instagram.png"></a>
        <a href="https://twitter.com/" target="_blank"><img src="pictures/twitter.png"></a>
        <a href="https://github.com/demarillacizere" target="_blank"><img src="pictures/github.png"></a>
        <a href="mailto:izered3@gmail.com" target="_blank"><img src="pictures/gmail.png"></a>
    </div>
    <p>&copy 2020 | umurinzi health</p>
</footer>

</html>