{%extends 'base.html'%}
{% load static%}
{% block content %}
{% load bootstrap4 %}
{{block.super}}
<style>
  .banner{
    height:100vh;
    background-image:linear-gradient(0deg, rgba(29, 27, 27, 0.28), rgba(37, 34, 34, 0.28)), url(https://media.gettyimages.com/videos/use-the-best-tools-to-offer-you-the-best-care-video-id1140561549?s=640x640);
    background-size: cover;
    color:black;
    background-repeat:no-repeat;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 28px;
  }
  .form-control{
    width:50%;
  }
  
</style>
<div class="banner">
    <div class="cover" >
        <div class="container image row " >
          
            <div class='col-md-2'></div>
            <div class='col-md-6 mt-5 text-white'>
              <h1>Welcome to Umurinzi Health</h1><br><br>
            <form class="form" role="search" action="{% url 'search_results' %}">
                  <input type="text" class="form-control col-md-6" style='z-index:1; display:inline; width:50%;' placeholder="Search medication" name="drug"><br> 
                  <label for="cars" class='m-3 text-white'>Choose your location</label>
                  <select name="location" id="location" class="form-control" aria-label="Default select example">
                    {% for location in locations %}
                    <option value="{{location.name}}">{{location.name}}</option>
                  {% endfor %}
                </select><br>
                  <label class='text-center'><button type='submit' class='btn btn-default'><i class="fas fa-search"></i></button></label>
              </form>
        </div>
    </div></div>
</div>

<!--     
<div class='container'> 

</div> -->

<script>
    function copyURL(value){
      function handler(event){
        event.clipboardData.setData('text/plain',value);
        event.preventDefault();
        document.removeEventListener('copy',handler, true);
      }
      document.addEventListener('copy', handler, true);
      document.execCommand('copy');
    }
    </script>
{%endblock%}