<nav class="navbar" style='position:fixed;top:0;width:100%;z-index:2;padding:10px;background-color:rgb(255, 255, 255);'>
    <div class="container-fluid .justify-content-center" style='display: flex; flex-direction:column;justify-content: center;'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{}" style='color:black;'><i class="fas fa-h-square"></i> Umurinzi Navigation bar</a>
    
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{}" style='color:black;'>Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style='color:black' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Locations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for location in locations %}
                <a class="dropdown-item" style='color:black' href="/location/{{location.id}}">{{location.name}}</a><br>
                {% endfor %}
              </div>
            </li>
        </ul>
        <div class='col-md-2'></div>
        <div class="navbar navbar-nav navbar-center col-md-4" style='text-align:center;'>
          <form class="form" role="search" action="{}">
              <input type="text" class="form-control" placeholder="&#xf3ee; Search by category"name="image_category">
          </form>
        </div>
      <div class="navbar navbar-nav navbar-right social">
        <i class="fab fa-instagram"></i><i class="fab fa-twitter"></i><i class="fab fa-facebook"></i>
      </div>
    </div></div></div>
  </nav>