{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}
<style>
 
</style>
<!-- Landing Page -->
<div class='container'>
    <h2><b>{{search_term|title}}</b></h2>
    <small>Found {{ drugs|length}} results</small><hr><br>
</div>


<div class="container wrap">
    <!-- Looping through images -->
    <div class="row">
    {% for drug in drugs %}
        <!-- displaying images -->
         <div class="col-md-6 row">
                 <div class='col-md-6'>
                    <img src="{{drug.pic.url}}" width='100%' class="image" alt="Image" >
                 </div>
                     <div class='col-md-6' ><br>
                         <a href='/drug/{{drug.id}}' style='text-decoration: none; color:black;'>
                             
                             <div class="overlay">
                                 <h4>{{drug.name}}</h4>
                             </div>
                         </a>
                     </div>
             </div>
    {% empty %}
        <div class="col-sm-6 col-md-6 col-lg-6 no-result">
            <img src="https://unsplash.com/a/img/empty-states/photos.png" width='100%' alt="">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h4 class="text-center"> Sorry, no drugs found for <b>{{search_term}}</b> term</h4>
        </div>
    {% endfor %}
    </div>
    

    
</div>

{% endblock %}